#fondoVerdoso{
    background-color: rgb(0, 63 , 78    );
    height: 1700px;
    width: 100%;
    margin-top: -100px;
}

.aMimirCaja{
    background-image: url(../img/amimircaja.png);
    margin-left: 50px;
    margin-top: 10px;
    height: 400px;
    width: 400px;
    background-size: cover;
}

.aMimirLogo{
    background-image: url(../img/amimirlogo.png);
    background-size: cover;
    width: 590px;
    height: 300px;
}


.almohadas{
    background-image: url(../img/Comp12.gif);
    margin-left: -250px;
    margin-top: 0px;
    height: 435px;
    width: 700px;
    background-size: cover;

}

#textoAncho{
    display: flex;
    width: 800px;
    align-items: center;
}

.aMimirTarjetas{
    background-image: url(../img/amimircartas.png);
    background-size: cover;
    height: 380px;
    width: 820px;
    margin-top: 00px;
}

.textoMimir{
    color: white;
    margin-top: 150px;
}

#filaBlancaDB{
    margin-top: 0px;
    height: 250px;
    background-color: white;
    // outline: solid red 1px;
}

@media only screen and (max-width: 575px){
    #fondoVerdoso{
        height: 1800px;
    }

    .aMimirCaja{
        height: 300px;
        width: 300px;
        margin-left: -50px;
    }

    .aMimirLogo{
        width: 350px;
        height: 200px;
    }

    #textoAncho{
    margin-top: 20px;
    width: 500px;
    }

    .aMimirTarjetas{
        width: 500px;
        height: 200px;
        margin-top: 80px;
    }

    .almohadas{
        height: 300px;
        width: 500px;
        margin-left: -40px;

    
    }

    #filaBlancaDB{
    margin-top: -50px;
    height: 300px;
    background-color: white;
    // outline: solid red 1px;
    }

}