#fondoGrisFuerte{
    background-color:  rgb(187, 191, 189);
    height: 1400px;
    width: 100%;
    margin-top: -100px;
}

#logoMonstruosGrande{
    width: 500px;
    height: 200px;

}

.monstruo{
    background-image: url(../img/monstruos-04.png);
    background-size: cover;
    width: 380px;
    height: 400px;
    margin-left: 00px;  
}

#filaGrisOscuro{
    background-color:rgb(35, 34, 38);
    height: 500px;
}



.monstruosCaja{
    background-image: url(../img/monstruos-03.png);
    background-size: cover;
    width: 450px;
    height: 450px;
    margin-top: 40px;
    margin-left: -100px;
}

.monstruos1Imagen{
    background-image: url(../img/monstruos-02.png);
    background-size: cover;
    width: 800px;
    height: 600px;
    margin-top: 0px;

}


#textoMonstruos1{
    margin-top: 90px;
    margin-left: -100px;
    color: white;

}

#textoMonstruos2{
    margin-top: 90px;
    margin-left: -100px;
    color: white;

}

#filaInversa {
    background-color: rgb(255, 255, 255);
    height: 50px;
  }


@media only screen and (min-width: 320px) and (max-width: 576px){

    #fondoGrisFuerte{
        height: 2300px;
    }

    #filaGrisOscuro{
        height: 1000px;
    }


    #logoMonstruosGrande{
        width: 350px;
        height: 130px;
    
    }

    .monstruo{
        height: 200px;
        width: 180px;
    }

    .monstruosCaja{
        margin-top: -80px;
        margin-left: -40px;
        width: 380px;
        height: 380px;
    }

    #textoMonstruos1{
        margin-top: 90px;
        margin-left: 0px;

    }

    #textoMonstruos2{
        margin-top: -800px;
        margin-left: 0px;
    }

    .monstruos1Imagen{

        width: 380px;
        height: 350px;
        margin-top: 550px;
        margin-left: 0px;
    
    }

  



}