#fondoVioletaMudanza{
    background-color: rgb(33, 35, 46 );
    height: 1400px;
    width: 100%;
    margin-top: -100px;
}

#mudanzaLogo{
    background-image: url(../img/mudanzaLogo.png);
    background-size: cover;
    width: 600px;
    height: 300px;
}

.mudanzaGif1{
    background-image: url(../img/Comp15.gif);
    background-size: cover;
    width: 800px;
    height: 450px;
    margin-left: -100px;
}

.mudanzaImagen{
    background-image: url(../img/mudanza-04.png);
    background-size: cover;
    width: 500px;
    height: 500px;
    margin-left: -100px;

}




.textoMudanza1{
    margin-top: 250px;
    margin-left: -100px;
    color: white;

}


@media only screen and (min-width: 320px) and (max-width: 576px){

    #fondoVioletaMudanza{
        height: 1800px;

    }

    #mudanzaLogo{
        width: 450px;
        height: 200px;
    }

    .mudanzaGif1{
        width: 380px;
        height: 250px;
        margin-left: -50px;
    }


    .mudanzaImagen{
        margin-top: 0px;
        margin-left: -30px;
        width: 380px;
        height: 380px;
    }

    .textoMudanza1{
        width: 450px;
        margin-top:50px;
        margin-left: 0px;
    }

}