.fondoGris{
    background-color: rgb(184, 196, 192);
    height: 2000px;
    width: 100%;
    margin-top: -100px;
    
}



.logo{
    margin-top: 30px;
    display: flex;
    width: 650px;
    height: 200px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    
}

#nkmfsLogo{
    background-image: url(../img/mfslogo.png);
    width: 600px;
    height: 350px;
    margin-bottom: 0px;
    
}

#logoyLink{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#linkNKL{
    font-size: x-large;
}

#nkmfsActiv{
    background-image: url(../img/mfsactiv.png);
    justify-content: center;
    margin-left: 120px;
    width: 80%;
    height: 180px;
    margin-top: -30px;
    
}

#logoDqh{
    background-image: url(../img/mfs-14.png);
    margin-top: 0px;
    width: 400px;
    height: 180px;
}

#logoConstructor{
    background-image: url(../img/mfs-15.png);
    width: 500px;
    height: 180px;
    margin-bottom: -80px; 
    margin-top: -30px;
}

#logoLicuado{
    background-image: url(../img/mfs-16.png);
    margin-top: 0px;
    width: 450px;
    height: 200px;
}


.imagen{
    margin-top: -50px;
    height: 400px;
    width: 650px;
    background-size: cover; 
}

#imagenDqh{
    background-image: url(../img/mfsdqh.png);
    margin-left: 0px;
    margin-top: -150px;
    height: 420px;
    width: 500px;
}

#imagenConstructor{
    background-image: url(../img/mfsContructor.png);
    // margin-left: -100px;
    margin-top: 50px;
    height: 450px;
    width: 600px;
    
}

#imagenLicuado{
    background-image: url(../img/mfslicuado.png);
    margin-left: 50px;
    margin-top: 0px;
    height: 200px;
    width: 550px;
}


.textoContenedor{
    width: 600px;
    justify-content: center;
}

#txtNegro{
    color: white;
    width: 400px;
    margin-top: -50px;
    margin-left: 100px;


}

#txtBlanco{
    color:black;
    width: 400px;
    margin-top: -250px;
    margin-left: 100px;
}

#filaBlanca{
    margin-top: 0px;
    height: 250px;
    background-color: white;
    // outline: solid red 1px;
}

#filaBlancaLogo{
    height: 200px;
    background-color: white;
}

#filaGrisLogo{
    height: 50px;
    background-color:  rgb(184, 196, 192);
}


#filaNegra{
    background-color: black;
    height: 500px;
    // margin-top: -100px;  
}

@media only screen and (min-width: 320px) and (max-width: 576px){
    .fondoGris{
     height: 2450px;
    }

    #containerNKF{
        height: 350px;
    }

    #nkmfsLogo{
        width: 380px;
        height: 250px;
        margin-top: 20px;
        // outline: solid red 1px;
    }

    #nkmfsActiv{
        display: none;
    }

    #logoDqh{
        margin-top: 10px;
        width: 380px;
        height: 170px;
    }

    #logoConstructor{
        margin-top: -20px;
        width: 380px;
        height: 170px;
    }

    #logoLicuado{
        margin-top: 0px;
        margin-left: -20px;
        width: 380px;
        height: 170px;
    }



    #imagenDqh{
        margin-top: -50px;
        height: 310px;
        width: 380px;
        margin-left: -10px;
    }

    #imagenConstructor{
        margin-top: 100px;
        height: 290px;
        width: 380px;
        margin-left: 0px;
        margin-bottom: 100px;
    }

    #imagenLicuado{
        margin-top: -30px;
        height: 140px;
        width: 380px;
        margin-left: 0px;
    }

    #txtBlanco{
        margin-top: -150px;
        width: 380px;
        margin-left: 0px;
    }

    #txtNegro{
        margin-top: -150px;
        width: 380px;
        margin-left: 0px;
    }

    #filaNegra{
        height: 800px;
    }

    #filaBlanca{
        height: 600px;
    }

    #filaBlancaLogo{
        height: 200px;
    }

}