#fondoVerde{
    background-color:  rgb(157, 210, 192);
    height: 2000px;
    width: 100%;
    margin-top: -100px;
}

#logoPaltGrande{
    width: 600px;
    height: 400px;
    margin-left: 00px;
    margin-bottom: -50px;

}

.nati{
    background-image: url(../img/nati.png);
    background-size: cover;
    width: 300px;
    height: 400px;
    margin-left: 00px;  
}

#filaVioleta{
    background-color:rgb(123,101,170 );
    height: 500px;
    
}

#filaBlancaAngosta{
    background-color: rgb(255, 255, 255);
    height: 50px;
}

#filaBlancaAngosta1{
    margin-top: 400px;
    background-color: rgb(255, 255, 255);
    height: 50px;
}

#filaBlancaPalt{

    background-color: rgb(255, 255, 255);
    height: 50px;
}

#filaBlancaPalt1{

    background-color: rgb(255, 255, 255);
    height: 50px;
}

#filaBlancaPalt2{

    background-color: rgb(255, 255, 255);
    height: 50px;
}

#filaBlancaPalt3{
    margin-top: 400px;
    background-color: rgb(255, 255, 255);
    height: 50px;
}

.paltaliCaja{
    background-image: url(../img/paltalicaja.png);
    background-size: cover;
    width: 600px;
    height: 450px;
    margin-left: -100px;
}

.paltali1Imagen{
    background-image: url(../img/paltali1.png);
    background-size: cover;
    width: 800px;
    height: 450px;
    margin-top: 0px;

}

.paltali2Imagen{
    background-image: url(../img/paltali2.png);
    background-size: cover;
    width: 500px;
    height: 500px;
    margin-top: 0px;

}

#textoPaltali{
    margin-top: 120px;
    margin-left: -100px;
    color: white;
}

#textoPaltali1{
    margin-top: 100px;
    margin-left: 0px;
    color: white;
}

#textoPaltali2{
    margin-top: 120px;
    margin-left: -100px;
    color: white;
}


@media only screen and (min-width: 320px) and (max-width: 576px){

    #fondoVioleta{
        height: 1000px;
    }

    #fondoVerde{
        height: 2900px;
    }

    #logoPaltGrande{
        width: 400px;
        height: 250px;
        margin-left: 0px;
        margin-top: -10px;
        margin-bottom: 20px;
    }

    #textoPaltali{
    width: 380px;
    margin-left: 0px;
    margin-top: 100px;
    
    }

    #textoPaltali1{
        margin-top: -620px;
        margin-left: 0px;
        color: white;

    }

    .paltaliCaja{

        width: 400px;
        height: 300px;
        margin-top: 200px;
        margin-left: 00px;
    }

 

    #textoPaltali2{
        margin-top: 550px;
        margin-left: 0px;
        color: white;

    }

    .paltali1Imagen{

        width: 400px;
        height: 250px;
        margin-top: 650px;
    
    }

    .paltali2Imagen{

        width: 300px;
        height: 300px;
        margin-top: 00px;
    
    }


    #filaBlancaPalt1{
        height: 0px;
    }



    #filaBlancaPalt3{
        height: 0px;
    }





}