#selectLogo{
    background-image: url(../img/selectlogo-02.png);
    background-size: cover;
    margin-top: -50px;
    width: 700px;
    height: 180px;
}

#cajaSelect{
    background-image: url(../img/select-02.png);
    background-size: cover;
    margin-top: -50px;
    width: 750px;
    height: 600px;
    margin-bottom: 20px;
}

.selectGif{
    background-image: url(../img/Comp18.gif);
    background-size: cover;
    margin-top: -100px;
    width: 800px;
    height: 360px;
    margin-bottom: 20px;

}

@media only screen and (min-width: 320px) and (max-width: 576px){
    #selectLogo{
        margin-top: -50px;
        width: 380px;
        height: 100px;
    }

    #cajaSelect{
        margin-top: -20px;
        margin-left: -30px;
        width: 380px;
        height: 300px;
        margin-bottom: 20px;
    }

    .selectGif{

        margin-top: -30px;
        margin-left: -20px;
        width: 380px;
        height: 200px;
        margin-bottom: 20px;
    
    }

}