#fondoBordo{
    background-color: rgb(114, 25, 51 );
    height: 1500px;
    width: 100%;
    margin-top: -100px;
}

#sopasLogo{
    background-image: url(../img/sopalogo.png);
    background-size: cover;
    width: 400px;
    height: 400px;
    margin-bottom: 10px;

}

#textoAnchoBlanco{
    color: white;
    display: flex;
    width: 800px;
    align-items: center;
}


#textoAnchoBlancoSopa{
    color: white;
    display: flex;
    width: 800px;
    align-items: center;
}

.sopaImagen{
    background-image: url(../img/sopa2.png);

    background-size: cover;
    height: 600px;
    width: 950px;
    margin-top: -100px;
    margin-left: -50px;
}


@media only screen and (min-width: 320px) and (max-width: 576px){

    #fondoBordo{
        height: 1400px;
    }

    .textoSopas{
        margin-top: -200px;
        color: white
    }

    .sopaImagen{
        margin-top: -150px;
        margin-left: -30px;
        width: 390px;
        height: 250px;
    }

    #textoAnchoBlancoSopa{
        height: 650px;
        margin-top: 20px;
    }

}