@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Signika+Negative:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

.navbar {
  background-color: black !important;
  color: white !important;
}

#botones:focus, #botones:active {
  outline: none !important;
  box-shadow: none;
}

.dropdown-item {
  margin-left: -50px !important;
}

.dropdown-item:hover {
  margin-left: 0px !important;
}

#botonera {
  display: flex;
  flex-direction: row;
}

.divisor {
  background-image: url(../img/barra.svg);
  height: 300px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -90px;
  margin-top: -150px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  #botonera {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .dropdown-item {
    margin-left: -20px !important;
  }
}
body {
  overflow-x: hidden;
}

h1 {
  margin-top: -60px;
  font-family: "Signika Negative", sans-serif;
  font-weight: 700;
  color: #EB7428;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  animation-name: h1cambiodecolor;
  animation-duration: 10s;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.imagen1 {
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
  height: 400px;
  width: auto;
}

.imagen2 {
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
  height: 500px;
  width: auto;
}

.imagen3 {
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -120px;
  height: 700px;
  width: auto;
}

.parrafo {
  align-items: center;
}

.parrafo1 {
  align-items: center;
  margin-top: 50px;
  color: #4f4c49;
}

.parrafo2 {
  align-items: center;
  margin-top: -1300px;
  width: 900px;
  color: #4f4c49;
}

.linkPr {
  font-size: x-large;
}

.container-home {
  display: flex;
  flex-direction: column;
}

.subtexto {
  width: 800px;
  font-style: italic;
  text-align: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center !important;
}

@keyframes h1cambiodecolor {
  25% {
    color: #ED897D;
  }
  50% {
    color: #4f4c49;
  }
  75% {
    color: cadetblue;
  }
}
h2 {
  font-size: 50px;
  text-align: center;
}

h3 {
  text-align: center;
}

span {
  font-weight: 700;
}

#precio {
  font-weight: 700;
  font-size: 20px;
  color: red;
}

.container-fluid-negro {
  margin-top: 60px;
  background-color: black;
  height: 700px;
}

.container-fluid-blanco {
  margin-top: 60px;
  background-color: rgb(246, 242, 231);
  height: 700px;
}

.imagenFondo {
  background-size: cover;
  background-image: url(../img/monstruos1.png);
  height: 900px;
  margin-left: -20px;
  margin-top: 60px;
}

.divisor1 {
  background-image: url(../img/barra.svg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  height: 300px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -90px;
  margin-top: 40px;
  margin-bottom: -300px;
}

.container-fluid-card {
  display: flex;
}

.btn-gradient-1 {
  display: flex;
  margin-top: 40px;
  font-weight: 700;
  width: 200px;
  justify-content: center;
  color: black;
  font-size: 30px;
  padding: 10px;
  background: linear-gradient(rgb(246, 232, 231), rgb(246, 232, 231)) padding-box, linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 60px;
  border: 6px solid transparent;
  border-spacing: 10px;
  text-decoration: none;
}

.btn-gradient-1:hover {
  background: linear-gradient(rgb(64, 63, 63), rgb(64, 64, 64)) padding-box, linear-gradient(to right, darkblue, darkorchid) border-box;
  color: white;
  text-decoration: none;
}

.btn-gradient-2 {
  margin-top: 40px;
  font-weight: 700;
  width: 300px;
  justify-content: center;
  color: white;
  font-size: 30px;
  padding: 10px;
  background: linear-gradient(black, black) padding-box, linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 60px;
  border: 6px solid transparent;
  border-spacing: 10px;
}

.btn-gradient-2:hover {
  color: darkblue;
  text-decoration: none;
}

#botonMst {
  margin-top: -850px;
  height: 70px;
}

.row-txt {
  color: white;
  margin-top: 20px;
}

#parrafosIndex {
  flex-direction: column;
}

.row-txt1 {
  color: white;
  margin-top: 20px;
}

.card {
  transition: all 0.3s;
  gap: 15px;
  margin: 10px;
  margin-top: 40px;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05);
}

.card-title1 {
  margin-top: -30px;
  font-weight: bold;
}

.card-title {
  font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  h1 {
    margin-top: -30px;
  }
  h2 {
    font-size: 30px;
  }
  .container-fluid-negro {
    margin-top: 50px;
    background-color: black;
    height: auto;
  }
  .container-fluid-negro2 {
    margin-top: 10px;
    background-color: black;
    height: 700px;
  }
  .container-fluid-card {
    flex-wrap: wrap;
  }
  .subtexto {
    width: 380px;
    font-style: italic;
    text-align: center;
    align-items: center;
  }
  .imagen1 {
    width: 380px;
    height: auto;
  }
  .imagen2 {
    width: 380px;
    height: auto;
  }
  .imagen3 {
    display: none;
  }
  .imagenFondo {
    background-image: url(../img/monstruos1bis.png);
    height: 800px;
    width: auto;
    margin-top: 50px;
    margin-left: -150px;
  }
  .divisor1 {
    background-image: url(../img/barra.svg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    height: 300px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -90px;
    margin-top: 60px;
    margin-bottom: -300px;
  }
  .row-txt {
    flex-direction: column;
  }
  .row-txt1 {
    flex-direction: column-reverse;
  }
  .parrafo {
    width: 380px;
  }
  .parrafo1 {
    align-items: center;
    margin-left: 0px;
    margin-top: 0px;
    color: #4f4c49;
    width: 380px;
  }
  .parrafo2 {
    align-items: center;
    margin-left: 0px;
    margin-top: -900px;
    color: #4f4c49;
    font: size 0.5em;
    width: 380px;
  }
  #botonMst {
    margin-top: -770px;
  }
}
footer {
  background-color: rgb(0, 0, 0);
  margin-top: 50px;
}

.iconos {
  display: flex;
  font-size: 30px;
  height: 50%;
  gap: 40px;
  margin-top: 30px;
}

.iconos a {
  color: white;
}

.bi-facebook:hover {
  color: cornflowerblue;
}

.bi-whatsapp:hover {
  color: chartreuse;
}

.bi-instagram:hover {
  color: coral;
}

.textfoot {
  text-align: center;
  padding-top: 35px;
}

.p1 {
  height: 80%;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

.p2 {
  height: 80%;
  font-size: 30px;
  color: cornflowerblue;
  text-transform: uppercase;
  margin-top: -10px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  footer {
    height: 160px;
    margin-top: 10px;
  }
  .iconos {
    font-size: 25px;
    margin-top: 5px;
  }
}
.clientes {
  background-color: black !important;
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
  height: 400px;
}

.formuCliente {
  margin-top: 20px;
}

.btn-gradient-5 {
  margin-top: 20px;
  font-weight: 700;
  width: 200px;
  justify-content: center;
  color: white;
  font-size: 20px;
  padding: 10px;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box, linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 60px;
  border: 6px solid transparent;
  border-spacing: 10px;
}

.parrafo3 {
  color: white;
  font-size: 26px;
  margin-top: 20px;
  text-align: center;
}

.contacto {
  background-color: black !important;
  color: white;
  margin-bottom: -30px;
}

.btn-gradient-5 {
  margin-top: 20px;
  font-weight: 700;
  width: 200px;
  justify-content: center;
  color: white;
  font-size: 20px;
  padding: 10px;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box, linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 60px;
  border: 6px solid transparent;
  border-spacing: 10px;
}

.parrafo3 {
  color: white;
  font-size: 26px;
  margin-top: 20px;
  text-align: center;
}

#barraCategorias1 {
  background-color: black !important;
  height: 30px !important;
  width: 100%;
  text-indent: 28pt !important;
}

.container-fluid-blanco1 {
  margin-top: -50px;
  background-color: rgb(246, 242, 231);
  height: 450px;
}

.container-fluid-blanco1:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-fluid-morado {
  margin-top: 30px;
  background-color: rgb(80, 4, 40);
  height: 450px;
}

.container-fluid-morado:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-fluid-negro2 {
  margin-top: 30px;
  background-color: rgb(0, 0, 0);
  height: 500px;
}

.container-fluid-negro2:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#columnas {
  justify-content: center;
}

#columna1 {
  margin-top: 30px;
  margin-left: -15px;
  background-color: rgb(241, 241, 239);
  height: 500px;
  flex-direction: column;
  align-items: center;
}

#columna2 {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: -15px;
  background-color: rgb(237, 235, 236);
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagenContenedor1 {
  margin-top: -100px;
  background-image: url(../img/sopalogo.png);
  height: 400px;
  width: 400px;
  background-size: cover;
}

.imagenContenedor2 {
  margin-top: -30px;
  margin-left: 40px;
  background-image: url(../img/semanticos.png);
  height: 400px;
  width: 400px;
  background-size: cover;
}

.imagenContenedor5 {
  margin-top: -20px;
  margin-left: 40px;
  background-image: url(../img/amimir.png);
  height: 400px;
  width: 450px;
  background-size: cover;
}

.imagenContenedor4 {
  margin-left: 40px;
  background-image: url(../img/dinos.png);
  height: 300px;
  width: 500px;
  background-size: cover;
}

.imagenContenedor6 {
  margin-left: 40px;
  background-image: url(../img/fonologicos.png);
  height: 410px;
  width: 600px;
  background-size: cover;
}

.infoProducto {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.textoContenedor1 {
  justify-content: center;
}

.textoContenedor2 {
  width: 450px;
  justify-content: center;
  color: white;
}

.textoContenedor3 {
  margin-top: 15px;
  justify-content: center;
  width: 450px;
}

.textoContenedor6 {
  margin-top: 15px;
  justify-content: center;
  width: 450px;
  color: white;
}

.btn2 {
  background-color: black !important;
  color: rgb(255, 255, 255);
  margin-top: -200px;
  height: 30px;
  width: auto;
  justify-content: start;
  text-align: start;
  padding-left: 20px;
  border: 0px;
  text-indent: 14pt !important;
}

#btn3 {
  width: auto;
}

.links {
  font-size: large;
  width: 280px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.linksCol {
  font-size: large;
  width: 280px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.linksCol1 {
  font-size: large;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .infoProducto {
    width: 100%;
  }
  .container-fluid-blanco1 {
    height: 500px;
    width: 100%;
  }
  .container-fluid-morado {
    height: 650px;
    width: 100%;
  }
  .container-fluid-negro2 {
    flex-direction: column-reverse;
    height: 650px;
    width: 100%;
  }
  #columnainvertida {
    flex-direction: column-reverse;
  }
  .imagenContenedor1 {
    margin-top: -50px;
    margin-left: 30px;
    width: 350px;
    height: 350px;
  }
  .imagenContenedor2 {
    margin-top: 0px;
    margin-left: 0px;
    width: 350px;
    height: 350px;
  }
  .imagenContenedor6 {
    margin-top: 0px;
    margin-left: -20px;
    margin-bottom: 30px;
    width: 400px;
    height: 300px;
  }
  .imagenContenedor4 {
    margin-left: -20px;
    margin-top: 30px;
    width: 380px;
    height: 250px;
  }
  .imagenContenedor5 {
    margin-left: 0px;
    width: 400px;
    height: 350px;
  }
  .textoContenedor3 {
    margin-top: 40px;
    width: 100%;
  }
  .textoContenedor2 {
    margin-top: 0px;
    width: 400px;
  }
  .textoContenedor6 {
    margin-top: -350px;
    width: 400px;
  }
  #barraCategorias1 {
    height: 90px !important;
    text-indent: 0pt !important;
  }
  #divisorProd {
    margin-top: -150px;
  }
  .btn2 {
    text-indent: 16pt !important;
  }
  #columna1 {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
  }
  #columna2 {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    height: 460px;
  }
}
#containerKitLenguaje {
  display: flex;
  flex-direction: column;
  height: 650px;
}

#estacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gifContenedor1 {
  margin-top: -100px;
  background-image: url(../img/Comp9.gif);
  height: 400px;
  width: 600px;
  background-size: cover;
}

.gifContenedor2 {
  margin-top: -100px;
  background-image: url(../img/Comp13.gif);
  height: 500px;
  width: 1100px;
  background-size: cover;
}

.gifContenedor3 {
  display: none;
}

#textoSemantico {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#parrafoPrSem {
  display: flex;
  align-items: center;
}

.imagenKitLenguaje1 {
  margin-top: 50px;
  background-image: url(../img/kitlenguajecaja.png);
  height: 400px;
  width: 650px;
  background-size: cover;
}

.imagenKitLenguaje2 {
  margin-top: 30px;
  background-image: url(../img/kitlenguajelogo.png);
  height: 150px;
  width: 650px;
  background-size: cover;
}

.imagenEstacion {
  margin-top: 0px;
  margin-left: -50px;
  background-image: url(../img/estacion.png);
  height: 350px;
  width: 450px;
  background-size: cover;
}

.logoEstacion {
  margin-top: 30px;
  background-image: url(../img/estacionLogo.png);
  height: 80px;
  width: 300px;
  background-size: cover;
}

.logoMudanza {
  margin-top: 10px;
  background-image: url(../img/mudanzaLogo.png);
  height: 100px;
  width: 300px;
  background-size: cover;
}

.gifMudanza {
  margin-top: 0px;
  margin-left: -30px;
  background-image: url(../img/Comp1.gif);
  height: 350px;
  width: 550px;
  background-size: cover;
}

.textoContenedorKitLenguaje1 {
  width: 450px;
  justify-content: center;
  color: white;
}

.textoEstacion {
  margin-top: 15px;
  justify-content: center;
  width: 450px;
  align-items: center;
}

.textoMudanza {
  margin-top: 15px;
  color: white;
  justify-content: center;
  width: 450px;
  align-items: center;
}

#columna1Estacion {
  display: flex;
  margin-top: 70px;
  background-color: rgb(241, 241, 239);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#columna2Estacion {
  display: flex;
  margin-top: 70px;
  margin-left: 15px;
  margin-right: -15px;
  background-color: rgb(80, 84, 94);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .imagenKitLenguaje2 {
    width: 450px;
    height: 130px;
    margin-left: -80px;
    margin-top: 5px;
  }
  .textoContenedorKitLenguaje1 {
    margin-top: 30px;
    width: 380px;
  }
  #textoSemantico {
    margin-top: -50px;
  }
  .imagenKitLenguaje1 {
    margin-top: -20px;
    margin-left: -20px;
    width: 400px;
    height: 250px;
  }
  .container-fluid-blanco2 {
    height: 880px;
  }
  #gifSemantico {
    height: 850px;
    margin-left: -30px;
  }
  #parrafoFono {
    margin-top: 10px;
    width: 400px;
  }
  .gifContenedorPalt {
    margin-top: 10px;
    margin-left: -60px;
    width: 490px;
    height: 320px;
  }
  .sonidosTarjetas {
    width: 450px;
    height: 250px;
  }
  #columna2Estacion {
    margin-left: -15px;
    margin-top: 15px;
  }
  .textoEstacion {
    margin-top: 15px;
    width: 380px;
  }
  .textoMudanza {
    width: 380px;
  }
  .gifMudanza {
    margin-left: -100px;
    width: 400px;
    height: 280px;
  }
  .imagenEstacion {
    margin-left: 30px;
    height: 280px;
    width: 350px;
  }
  .gifContenedor2 {
    display: none;
  }
  .gifContenedor3 {
    display: flex;
    margin-top: 0px;
    margin-left: -30px;
    background-image: url(../img/Comp13b.gif);
    height: 900px;
    width: 500px;
    background-size: cover;
  }
}
.container-fluid-blanco2 {
  display: flex;
  margin-top: 50px;
  background-color: rgb(212, 244, 238);
  height: 550px;
  flex-direction: column;
}

#textoFono {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#estacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gifContenedorPalt {
  margin-top: 0px;
  margin-bottom: -70px;
  background-image: url(../img/Comp2.gif);
  height: 450px;
  width: 800px;
  background-size: cover;
}

.gifContenedor2 {
  margin-top: -100px;
  background-image: url(../img/Comp13.gif);
  height: 500px;
  width: 1100px;
  background-size: cover;
}

#textoSemantico {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#parrafoFono {
  width: 900px;
}

#parrafoPrSem {
  display: flex;
  align-items: center;
}

.imagenKitFono1 {
  margin-top: -30px;
  background-image: url(../img/fono.png);
  height: 415px;
  width: 650px;
  background-size: cover;
}

.imagenLogoFono {
  margin-top: -20px;
  background-image: url(../img/fonologo.png);
  height: 150px;
  width: 650px;
  background-size: cover;
}

.gifMonstruos {
  margin-top: 0px;
  margin-left: -50px;
  background-image: url(../img/Comp3.gif);
  height: 250px;
  width: 400px;
  background-size: cover;
}

.logoMonstruos {
  margin-top: 10px;
  background-image: url(../img/monstruoslogo.png);
  height: 120px;
  width: 300px;
  background-size: cover;
}

.sonidosLogo {
  margin-top: -10px;
  background-image: url(../img/sonidoslogo.png);
  height: 150px;
  width: 250px;
  background-size: cover;
}

.logoPalt {
  margin-top: 10px;
  background-image: url(../img/paltlogo.png);
  height: 150px;
  width: 250px;
  background-size: cover;
}

.sonidosTarjetas {
  margin-top: 0px;
  margin-left: -30px;
  background-image: url(../img/sonidos.png);
  height: 350px;
  width: 550px;
  background-size: cover;
}

.textoContenedorKitFono1 {
  width: 550px;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.textoSonidos {
  margin-top: 15px;
  color: rgb(0, 0, 0);
  justify-content: center;
  width: 450px;
  align-items: center;
}

#columna1Estacion {
  display: flex;
  margin-top: 70px;
  background-color: rgb(241, 241, 239);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#columna2Sonidos {
  display: flex;
  margin-top: 70px;
  margin-left: 15px;
  margin-right: -15px;
  background-color: rgb(235, 243, 219);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .imagenLogoFono {
    width: 380px;
    height: 80px;
  }
  #textoFono {
    margin-top: -50px;
    width: 350px;
  }
  .textoContenedorKitFono1 {
    font-size: 16pt;
    width: 380px;
    margin-top: 15px;
  }
  .imagenKitFono1 {
    margin-top: 10px;
    margin-left: -20px;
    width: 400px;
    height: 300px;
  }
  .container-fluid-blanco2 {
    height: 880px;
  }
  .logoPalt {
    margin-top: 30px;
  }
  #parrafoFono {
    margin-top: 10px;
    width: 380px;
  }
  .gifContenedorPalt {
    margin-top: 10px;
    margin-left: -60px;
    width: 450px;
    height: 250px;
  }
  .sonidosTarjetas {
    margin-left: 30px;
    width: 350px;
    height: 230px;
  }
  #columna2Sonidos {
    margin-left: -15px;
  }
  .textoSonidos {
    width: 380px;
  }
}
#motivacion {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#containerMotivacion {
  display: flex;
  flex-direction: column;
  height: 580px;
}

#containerMotivacion1 {
  display: flex;
  flex-direction: column;
  height: 580px;
}

#container-kawai {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gifContenedorAmimir {
  margin-top: -80px;
  margin-left: 50px;
  background-image: url(../img/Comp5.gif);
  height: 500px;
  width: 500px;
  background-size: cover;
}

.figurasKawai1 {
  margin-top: 50px;
  background-image: url(../img/figurasKawai.png);
  height: 620px;
  width: 1060px;
  background-size: cover;
}

#textoKawai {
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
}

.dinosLogoMotiv {
  background-image: url(../img/dinos-05.png);
  width: 400px;
  height: 250px;
  background-size: cover;
}

.delBosqueGif {
  background-image: url(../img/Comp4.gif);
  margin-top: -50px;
  height: 400px;
  width: 650px;
  background-size: cover;
}

.imagenDelBosqueLogo {
  margin-top: 30px;
  background-image: url(../img/delbosquelogo.png);
  height: 160px;
  width: 650px;
  background-size: cover;
}

.kawaiLogo {
  display: flex;
  margin-top: 10px;
  background-image: url(../img/kawaiLogo.png);
  height: 120px;
  width: 350px;
  background-size: cover;
}

.dinosLogoMotiv {
  background-image: url(../img/dinos-05.png);
  width: 450px;
  height: 250px;
  background-size: cover;
}

.textoContenedorAmimir {
  margin-top: -100px;
  width: 550px;
  justify-content: center;
  color: rgb(0, 0, 0);
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .imagenDelBosqueLogo {
    width: 400px;
    height: 90px;
  }
  .delBosqueGif {
    margin-top: 0px;
    height: 210px;
    width: 400px;
  }
  #motivacion {
    margin-top: -50px;
  }
  #containerMotivacion {
    height: 700px;
  }
  #containerMotivacion1 {
    display: flex;
    flex-direction: column;
    height: 1000px;
  }
  .textoContenedorAmimir {
    margin-top: 20px;
    width: 380px;
  }
  .gifContenedorAmimir {
    margin-top: 0px;
    height: 300px;
    width: 300px;
  }
  #encabezadoKawai {
    flex-direction: column;
    justify-content: center;
  }
  .kawaiLogo {
    display: flex;
    margin-left: 30px;
  }
  #textoKawai {
    width: 380px;
  }
  .figurasKawai1 {
    margin-top: 30px;
    margin-left: -10px;
    height: 200px;
    width: 350px;
  }
  .textoContenedorDelBosque {
    width: 380px;
  }
  .dinosLogoMotiv {
    width: 350px;
    height: 180px;
  }
}
.fondoAzul {
  background-color: rgb(9, 1, 56);
  height: 3100px;
  width: 100%;
  margin-top: -100px;
}

#containerNKL {
  flex-direction: column;
}

.logo {
  margin-top: 30px;
  display: flex;
  width: 650px;
  height: 200px;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

#nklLogo {
  background-image: url(../img/kitlenguajelogo.png);
  width: 700px;
}

#logoyLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#linkNKL {
  font-size: x-large;
}

#nklActiv {
  background-image: url(../img/kitlenguajeactiv.png);
  width: 90%;
  height: 300px;
}

#vinculosContenido {
  margin-top: -150px;
}

#logoVinculo {
  background-image: url(../img/vinculosLogo.png);
  width: 300px;
  height: 85px;
  margin-bottom: -80px;
}

#logoCausa {
  background-image: url(../img/causaLogo.png);
  width: 300px;
  height: 85px;
  margin-bottom: -80px;
  margin-top: 20px;
}

#logoMemo {
  background-image: url(../img/memoLogo.png);
  width: 300px;
  height: 85px;
  margin-bottom: -100px;
  margin-top: 10px;
}

#logoInterrog {
  background-image: url(../img/interroglogo.png);
  width: 400px;
  height: 85px;
  margin-bottom: -100px;
  margin-top: 10px;
}

#logoConceptos {
  background-image: url(../img/conceptoslogo.png);
  width: 400px;
  height: 100px;
  margin-bottom: -100px;
  margin-top: 10px;
}

.gif {
  margin-top: -50px;
  height: 400px;
  width: 650px;
  background-size: cover;
}

.imagen {
  margin-top: -50px;
  height: 400px;
  width: 650px;
  background-size: cover;
}

#gifVinculos {
  background-image: url(../img/Comp6.gif);
  margin-left: -100px;
  margin-bottom: -100px;
  height: 500px;
  width: 800px;
}

#gifCausa {
  background-image: url(../img/Comp7.gif);
  margin-left: -100px;
  margin-top: -150px;
  height: 350px;
  width: 800px;
}

#imagenMemo {
  background-image: url(../img/memoverbos.png);
  margin-left: 50px;
  margin-top: 30px;
  height: 400px;
  width: 400px;
}

#imagenInterrog {
  background-image: url(../img/encabezadores.png);
  margin-left: 50px;
  margin-top: -100px;
  margin-bottom: 30px;
  height: 300px;
  width: 600px;
}

#imagenConceptos {
  background-image: url(../img/conceptos.png);
  margin-left: 50px;
  margin-top: -30px;
  margin-bottom: 30px;
  height: 420px;
  width: 450px;
}

.textoContenedor {
  width: 600px;
  justify-content: center;
  align-items: center;
}

#txtNegroLenguaje {
  color: white;
  margin-bottom: -100px;
}

#txtBlancoLenguaje {
  color: black;
  margin-top: -100px;
}

#filaBlanca {
  margin-top: -10px;
  background-color: white;
}

#filaNegra {
  background-color: black;
  height: 400px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .fondoAzul {
    height: 3800px;
  }
  #containerNKL {
    height: 350px;
  }
  #nklLogo {
    width: 380px;
    height: 110px;
    margin-left: -70px;
  }
  #nklActiv {
    display: none;
  }
  #gifVinculos {
    margin-top: -20px;
    margin-left: -30px;
    height: 280px;
    width: 390px;
  }
  #imagenMemo {
    margin-top: 100px;
    margin-left: 0px;
    height: 380px;
    width: 380px;
  }
  #imagenInterrog {
    margin-left: 10px;
    height: 200px;
    width: 380px;
  }
  #imagenConceptos {
    margin-top: 80px;
    height: 350px;
    width: 350px;
  }
  #txtBlancoLenguaje {
    margin-bottom: 10px;
    width: 380px;
  }
  #txtNegroLenguaje {
    margin-bottom: 10px;
    width: 380px;
  }
  #filaNegra {
    height: 700px;
  }
  #vinculosContenido {
    width: 380px;
  }
}
.fondoVerde {
  background-color: rgb(157, 210, 192);
  height: 2850px;
  width: 100%;
  margin-top: -100px;
}

#containerNKL {
  flex-direction: column;
}

.logo {
  margin-top: 30px;
  display: flex;
  width: 650px;
  height: 200px;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

#nkfLogo {
  background-image: url(../img/fonologo.png);
  width: 1100px;
  height: 300px;
  margin-bottom: -80px;
}

#logoyLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#linkNKL {
  font-size: x-large;
}

#nkfActiv {
  background-image: url(../img/logoNKF.png);
  justify-content: center;
  margin-left: 200px;
  width: 70%;
  height: 220px;
  margin-top: -30px;
}

#logoKt {
  background-image: url(../img/ktlogo.png);
  margin-top: 50px;
  width: 300px;
  height: 300px;
}

#logoSemaforo {
  background-image: url(../img/semaforologo.png);
  width: 300px;
  height: 300px;
  margin-bottom: -80px;
  margin-top: 10px;
}

#logoVocales {
  background-image: url(../img/vocaleslogo.png);
  width: 300px;
  height: 300px;
  margin-bottom: -100px;
  margin-top: -10px;
}

#logoCalculadora {
  background-image: url(../img/silabaslogo.png);
  width: 300px;
  height: 300px;
  margin-bottom: -100px;
  margin-top: 10px;
}

#logoLrd {
  background-image: url(../img/lrdlogo.png);
  width: 400px;
  height: 400px;
  margin-bottom: -100px;
  margin-top: 10px;
}

.gif {
  margin-top: -50px;
  height: 400px;
  width: 650px;
  background-size: cover;
}

.imagen {
  margin-top: -50px;
  height: 400px;
  width: 650px;
  background-size: cover;
}

#gifKt {
  background-image: url(../img/Comp10.gif);
  margin-left: -180px;
  margin-top: -250px;
  height: 500px;
  width: 800px;
}

#gifSemaforo {
  background-image: url(../img/Comp8.gif);
  margin-left: -100px;
  margin-top: -250px;
  height: 500px;
  width: 800px;
}

#imagenVocales {
  background-image: url(../img/vocales.png);
  margin-left: 50px;
  margin-top: -50px;
  height: 400px;
  width: 500px;
}

#imagenCalculadora {
  background-image: url(../img/silabas.png);
  margin-left: 0px;
  margin-top: -200px;
  margin-bottom: 30px;
  height: 450px;
  width: 600px;
}

#imagenLrd {
  background-image: url(../img/lrd.png);
  margin-left: 50px;
  margin-top: -50px;
  margin-bottom: 30px;
  height: 435px;
  width: 380px;
}

.textoContenedor {
  width: 600px;
  justify-content: center;
}

#txtNegroNkf {
  color: white;
  width: 400px;
  margin-top: -150px;
  margin-left: 100px;
}

#txtBlancoNkf {
  color: black;
  width: 400px;
  margin-top: -350px;
  margin-left: 100px;
}

#filaBlanca {
  margin-top: 0px;
  height: 250px;
  background-color: white;
}

#filaBlanca1 {
  margin-top: 0px;
  height: 250px;
  background-color: white;
}

#filaBlancaLogo {
  height: 200px;
  background-color: white;
}

#filaVerdeLogo {
  height: 50px;
  background-color: rgb(157, 210, 192);
}

#filaNegra {
  background-color: black;
  height: 400px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .fondoVerde {
    height: 4450px;
  }
  #containerNKF {
    height: 350px;
  }
  #nkfLogo {
    width: 380px;
    height: 80px;
    margin-bottom: 0px;
    margin-top: -80px;
  }
  #nkfActiv {
    display: none;
  }
  #logoKt {
    margin-top: -20px;
  }
  #logoVocales {
    margin-top: -60px;
  }
  #logoCalculadora {
    margin-top: -20px;
  }
  #logoLrd {
    margin-top: -60px;
    width: 200px;
    height: 200px;
  }
  #logoSemaforo {
    margin-top: -20px;
    width: 250px;
    height: 250px;
  }
  #gifKt {
    margin-top: 20px;
    height: 280px;
    width: 400px;
    margin-left: -60px;
  }
  #gifSemaforo {
    background-image: url(../img/comp8.gif);
    margin-left: 0px;
    margin-top: 0px;
    height: 250px;
    width: 400px;
    margin-bottom: 100px;
  }
  #imagenVocales {
    margin-top: 130px;
    height: 400px;
    width: 460px;
    margin-left: -20px;
  }
  #imagenCalculadora {
    margin-top: 30px;
    height: 220px;
    width: 280px;
    margin-left: 10px;
    margin-bottom: 100px;
  }
  #imagenLrd {
    margin-top: 30px;
    height: 400px;
    width: 350px;
    margin-left: 50px;
  }
  #txtBlancoNkf {
    margin-top: -150px;
    width: 380px;
    margin-left: 0px;
  }
  #txtNegroNkf {
    margin-top: -150px;
    width: 380px;
    margin-left: 0px;
  }
  #filaNegra {
    height: 750px;
  }
  #filaBlanca {
    height: 600px;
  }
  #filaBlanca1 {
    height: 400px;
  }
  #filaBlancaLogo {
    height: 200px;
  }
}
.fondoGris {
  background-color: rgb(184, 196, 192);
  height: 2000px;
  width: 100%;
  margin-top: -100px;
}

.logo {
  margin-top: 30px;
  display: flex;
  width: 650px;
  height: 200px;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

#nkmfsLogo {
  background-image: url(../img/mfslogo.png);
  width: 600px;
  height: 350px;
  margin-bottom: 0px;
}

#logoyLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#linkNKL {
  font-size: x-large;
}

#nkmfsActiv {
  background-image: url(../img/mfsactiv.png);
  justify-content: center;
  margin-left: 120px;
  width: 80%;
  height: 180px;
  margin-top: -30px;
}

#logoDqh {
  background-image: url(../img/mfs-14.png);
  margin-top: 0px;
  width: 400px;
  height: 180px;
}

#logoConstructor {
  background-image: url(../img/mfs-15.png);
  width: 500px;
  height: 180px;
  margin-bottom: -80px;
  margin-top: -30px;
}

#logoLicuado {
  background-image: url(../img/mfs-16.png);
  margin-top: 0px;
  width: 450px;
  height: 200px;
}

.imagen {
  margin-top: -50px;
  height: 400px;
  width: 650px;
  background-size: cover;
}

#imagenDqh {
  background-image: url(../img/mfsdqh.png);
  margin-left: 0px;
  margin-top: -150px;
  height: 420px;
  width: 500px;
}

#imagenConstructor {
  background-image: url(../img/mfsContructor.png);
  margin-top: 50px;
  height: 450px;
  width: 600px;
}

#imagenLicuado {
  background-image: url(../img/mfslicuado.png);
  margin-left: 50px;
  margin-top: 0px;
  height: 200px;
  width: 550px;
}

.textoContenedor {
  width: 600px;
  justify-content: center;
}

#txtNegro {
  color: white;
  width: 400px;
  margin-top: -50px;
  margin-left: 100px;
}

#txtBlanco {
  color: black;
  width: 400px;
  margin-top: -250px;
  margin-left: 100px;
}

#filaBlanca {
  margin-top: 0px;
  height: 250px;
  background-color: white;
}

#filaBlancaLogo {
  height: 200px;
  background-color: white;
}

#filaGrisLogo {
  height: 50px;
  background-color: rgb(184, 196, 192);
}

#filaNegra {
  background-color: black;
  height: 500px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .fondoGris {
    height: 2450px;
  }
  #containerNKF {
    height: 350px;
  }
  #nkmfsLogo {
    width: 380px;
    height: 250px;
    margin-top: 20px;
  }
  #nkmfsActiv {
    display: none;
  }
  #logoDqh {
    margin-top: 10px;
    width: 380px;
    height: 170px;
  }
  #logoConstructor {
    margin-top: -20px;
    width: 380px;
    height: 170px;
  }
  #logoLicuado {
    margin-top: 0px;
    margin-left: -20px;
    width: 380px;
    height: 170px;
  }
  #imagenDqh {
    margin-top: -50px;
    height: 310px;
    width: 380px;
    margin-left: -10px;
  }
  #imagenConstructor {
    margin-top: 100px;
    height: 290px;
    width: 380px;
    margin-left: 0px;
    margin-bottom: 100px;
  }
  #imagenLicuado {
    margin-top: -30px;
    height: 140px;
    width: 380px;
    margin-left: 0px;
  }
  #txtBlanco {
    margin-top: -150px;
    width: 380px;
    margin-left: 0px;
  }
  #txtNegro {
    margin-top: -150px;
    width: 380px;
    margin-left: 0px;
  }
  #filaNegra {
    height: 800px;
  }
  #filaBlanca {
    height: 600px;
  }
  #filaBlancaLogo {
    height: 200px;
  }
}
#fondoNegro {
  background-color: rgb(0, 0, 0);
  height: 1350px;
  width: 100%;
  margin-top: -100px;
}

.delBosqueCaja {
  background-image: url(../img/delbosquecaja.png);
  margin-left: 50px;
  margin-top: 10px;
  height: 400px;
  width: 540px;
  background-size: cover;
}

.delBosqueAnimales {
  background-image: url(../img/delbosqueanimales.png);
  margin-left: 50px;
  margin-top: -50px;
  height: 435px;
  width: 540px;
  background-size: cover;
}

#textoAncho {
  display: flex;
  width: 800px;
  align-items: center;
}

.delBosqueGif1 {
  background-image: url(../img/Comp11.gif);
  background-size: cover;
  height: 600px;
  width: 950px;
  margin-top: -100px;
}

#filaBlancaDB {
  margin-top: 0px;
  height: 250px;
  background-color: white;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  #fondoNegro {
    height: 1400px;
  }
  .delBosqueCaja {
    height: 290px;
    width: 370px;
    margin-left: -50px;
  }
  #delBosqueLogo1 {
    width: 380px;
    height: 70px;
  }
  .delBosqueAnimales {
    height: 350px;
    width: 420px;
    margin-left: -30px;
  }
  #textoAncho {
    margin-top: 50px;
    width: 500px;
  }
  .delBosqueGif1 {
    margin-top: 150px;
    height: 220px;
    width: 380px;
  }
  #filaBlancaDB {
    margin-top: -50px;
    height: 300px;
    background-color: white;
  }
}
#fondoVerdeOscuro {
  background-color: rgb(3, 53, 35);
  height: 1800px;
  width: 100%;
  margin-top: -100px;
}

#safariLogo {
  background-image: url(../img/safarilogo.png);
  background-size: cover;
  width: 590px;
  height: 300px;
}

.safariCaja {
  background-image: url(../img/safaricaja.png);
  margin-left: -50px;
  margin-top: -20px;
  margin-bottom: 30px;
  height: 400px;
  width: 300px;
  background-size: cover;
}

.safariFoto {
  background-image: url(../img/safari1.png);
  margin-left: -250px;
  margin-top: 0px;
  height: 400px;
  width: 650px;
  background-size: cover;
}

#textoAncho {
  display: flex;
  width: 800px;
  align-items: center;
}

.safariImagen {
  background-image: url(../img/safari2.png);
  background-size: cover;
  height: 800px;
  width: 950px;
  margin-top: 0px;
}

#filaBlancaDB {
  margin-top: 0px;
  height: 250px;
  background-color: white;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  #fondoVerdeOscuro {
    height: 1550px;
  }
  .safariCaja {
    height: 400px;
    width: 300px;
    margin-top: 5px;
  }
  #safariLogo {
    margin-left: -10px;
    width: 380px;
    height: 200px;
  }
  .safariFoto {
    display: none;
  }
  #textoAncho {
    margin-top: 10px;
    width: 500px;
  }
  .safariImagen {
    margin-top: 250px;
    height: 330px;
    width: 380px;
  }
  #filaBlancaDB {
    margin-top: -50px;
    height: 300px;
    background-color: white;
  }
}
#fondoVerdoso {
  background-color: rgb(0, 63, 78);
  height: 1700px;
  width: 100%;
  margin-top: -100px;
}

.aMimirCaja {
  background-image: url(../img/amimircaja.png);
  margin-left: 50px;
  margin-top: 10px;
  height: 400px;
  width: 400px;
  background-size: cover;
}

.aMimirLogo {
  background-image: url(../img/amimirlogo.png);
  background-size: cover;
  width: 590px;
  height: 300px;
}

.almohadas {
  background-image: url(../img/Comp12.gif);
  margin-left: -250px;
  margin-top: 0px;
  height: 435px;
  width: 700px;
  background-size: cover;
}

#textoAncho {
  display: flex;
  width: 800px;
  align-items: center;
}

#textoAnchoMimir {
  display: flex;
  width: 85%;
  align-items: center;
}

.aMimirTarjetas {
  background-image: url(../img/amimircartas.png);
  background-size: cover;
  height: 380px;
  width: 820px;
  margin-top: 0px;
}

.textoMimir {
  color: white;
  margin-top: 150px;
}

.textoMimir2 {
  color: white;
  margin-top: 150px;
}

#filaBlancaDB {
  margin-top: 0px;
  height: 250px;
  background-color: white;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  #fondoVerdoso {
    height: 2000px;
  }
  .aMimirCaja {
    height: 300px;
    width: 300px;
    margin-left: -50px;
  }
  .aMimirLogo {
    width: 350px;
    height: 200px;
  }
  .aMimirTarjetas {
    width: 380px;
    height: 170px;
    margin-top: 150px;
  }
  .textoMimir2 {
    color: white;
    margin-top: 80px;
  }
  .almohadas {
    height: 200px;
    width: 380px;
    margin-left: -40px;
  }
  #filaBlancaDB {
    margin-top: -50px;
    height: 300px;
    background-color: white;
  }
}
#fondoBordo {
  background-color: rgb(114, 25, 51);
  height: 1500px;
  width: 100%;
  margin-top: -100px;
}

#sopasLogo {
  background-image: url(../img/sopalogo.png);
  background-size: cover;
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

#textoAnchoBlanco {
  color: white;
  display: flex;
  width: 800px;
  align-items: center;
}

#textoAnchoBlancoSopa {
  color: white;
  display: flex;
  width: 800px;
  align-items: center;
}

.sopaImagen {
  background-image: url(../img/sopa2.png);
  background-size: cover;
  height: 600px;
  width: 950px;
  margin-top: -100px;
  margin-left: -50px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  #fondoBordo {
    height: 1400px;
  }
  .textoSopas {
    margin-top: -200px;
    color: white;
  }
  .sopaImagen {
    margin-top: -150px;
    margin-left: -30px;
    width: 390px;
    height: 250px;
  }
  #textoAnchoBlancoSopa {
    height: 650px;
    margin-top: 20px;
  }
}
#fondoAzul {
  background-color: rgb(55, 73, 153);
  height: 1350px;
  width: 100%;
  margin-top: -100px;
}

.logoEstacion1 {
  background-image: url(../img/estacion-24.png);
  background-size: cover;
  width: 800px;
  height: 400px;
  margin-left: -350px;
}

.estacionCaja {
  background-image: url(../img/estacion-19.png);
  background-size: cover;
  width: 300px;
  height: 400px;
  margin-top: 20px;
  margin-left: -50px;
}

#linkEstacion {
  margin-left: -350px;
  font-size: x-large;
}

.estacionImagen1 {
  background-image: url(../img/estacion-22.png);
  background-size: cover;
  width: 400px;
  height: 500px;
}

.estacionImagen2 {
  background-image: url(../img/estacion-21.png);
  background-size: cover;
  width: 600px;
  height: 400px;
  margin-top: 220px;
  margin-left: -100px;
}

.textoEstacion2 {
  margin-top: 0px;
  width: 700px;
}

.textoEstacion1 {
  color: white;
  margin-top: 300px;
  width: 700px;
  margin-left: -50px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  #fondoAzul {
    height: 2250px;
  }
  #estacionEncabezado {
    display: flex;
    flex-direction: column-reverse;
  }
  .logoEstacion1 {
    width: 380px;
    height: 200px;
    margin-left: 0px;
  }
  #linkEstacion {
    margin-left: 0px;
    font-size: x-large;
  }
  .estacionCaja {
    width: 200px;
    height: 300px;
    margin-top: -20px;
  }
  .estacionImagen1 {
    width: 350px;
    height: 420px;
    margin-top: -10px;
  }
  .textoEstacion1 {
    margin-top: 350px;
    width: 450px;
    margin-left: 0px;
  }
  .estacionImagen2 {
    background-image: url(../img/estacion-21.png);
    background-size: cover;
    width: 380px;
    height: 300px;
    margin-top: 0px;
    margin-left: 0px;
  }
}
#fondoVioletaMudanza {
  background-color: rgb(33, 35, 46);
  height: 1400px;
  width: 100%;
  margin-top: -100px;
}

#mudanzaLogo {
  background-image: url(../img/mudanzaLogo.png);
  background-size: cover;
  width: 600px;
  height: 300px;
}

.mudanzaGif1 {
  background-image: url(../img/Comp15.gif);
  background-size: cover;
  width: 800px;
  height: 450px;
  margin-left: -100px;
}

.mudanzaImagen {
  background-image: url(../img/mudanza-04.png);
  background-size: cover;
  width: 500px;
  height: 500px;
  margin-left: -100px;
}

.textoMudanza1 {
  margin-top: 250px;
  margin-left: -100px;
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  #fondoVioletaMudanza {
    height: 1880px;
  }
  #mudanzaLogo {
    width: 450px;
    height: 200px;
  }
  .mudanzaGif1 {
    width: 380px;
    height: 250px;
    margin-left: -50px;
  }
  .mudanzaImagen {
    margin-top: 0px;
    margin-left: -30px;
    width: 380px;
    height: 380px;
  }
  .textoMudanza1 {
    width: 450px;
    margin-top: 50px;
    margin-left: 0px;
  }
}
#fondoVerde {
  background-color: rgb(157, 210, 192);
  height: 2000px;
  width: 100%;
  margin-top: -100px;
}

#logoPaltGrande {
  width: 600px;
  height: 400px;
  margin-left: 0px;
  margin-bottom: -50px;
}

.nati {
  background-image: url(../img/nati.png);
  background-size: cover;
  width: 300px;
  height: 400px;
  margin-left: 0px;
}

#filaVioleta {
  background-color: rgb(123, 101, 170);
  height: 500px;
}

#filaBlancaAngosta {
  background-color: rgb(255, 255, 255);
  height: 50px;
}

#filaBlancaAngosta1 {
  margin-top: 400px;
  background-color: rgb(255, 255, 255);
  height: 50px;
}

#filaBlancaPalt {
  background-color: rgb(255, 255, 255);
  height: 50px;
}

#filaBlancaPalt1 {
  background-color: rgb(255, 255, 255);
  height: 50px;
}

#filaBlancaPalt2 {
  background-color: rgb(255, 255, 255);
  height: 50px;
}

#filaBlancaPalt3 {
  margin-top: 400px;
  background-color: rgb(255, 255, 255);
  height: 50px;
}

.paltaliCaja {
  background-image: url(../img/paltalicaja.png);
  background-size: cover;
  width: 600px;
  height: 450px;
  margin-left: -100px;
}

.paltali1Imagen {
  background-image: url(../img/paltali1.png);
  background-size: cover;
  width: 800px;
  height: 450px;
  margin-top: 0px;
}

.paltali2Imagen {
  background-image: url(../img/paltali2.png);
  background-size: cover;
  width: 500px;
  height: 500px;
  margin-top: 0px;
}

#textoPaltali {
  margin-top: 120px;
  margin-left: -100px;
  color: white;
}

#textoPaltali1 {
  margin-top: 100px;
  margin-left: 0px;
  color: white;
}

#textoPaltali2 {
  margin-top: 120px;
  margin-left: -100px;
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  #fondoVioleta {
    height: 1000px;
  }
  #fondoVerde {
    height: 2900px;
  }
  #logoPaltGrande {
    width: 400px;
    height: 250px;
    margin-left: 0px;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  #textoPaltali {
    width: 380px;
    margin-left: 0px;
    margin-top: 100px;
  }
  #textoPaltali1 {
    margin-top: -620px;
    margin-left: 0px;
    color: white;
  }
  .paltaliCaja {
    width: 400px;
    height: 300px;
    margin-top: 200px;
    margin-left: 0px;
  }
  #textoPaltali2 {
    margin-top: 550px;
    margin-left: 0px;
    color: white;
  }
  .paltali1Imagen {
    width: 400px;
    height: 250px;
    margin-top: 650px;
  }
  .paltali2Imagen {
    width: 300px;
    height: 300px;
    margin-top: 0px;
  }
  #filaBlancaPalt1 {
    height: 0px;
  }
  #filaBlancaPalt3 {
    height: 0px;
  }
}
#fondoAmarillo {
  background-color: rgb(248, 237, 179);
  height: 1300px;
  width: 100%;
  margin-top: -100px;
}

#sonidosCaja {
  background-image: url(../img/sonidos-02.png);
  background-size: cover;
  margin-top: 30px;
  width: 1200px;
  height: 410px;
}

.sonidosGif {
  background-image: url(../img/Comp16.gif);
  background-size: cover;
  height: 800px;
  width: 1150px;
  margin-top: -100px;
  margin-left: -200px;
}

#filaNegraAngosta {
  background-color: black;
  height: 250px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  #fondoAmarillo {
    height: 850px;
  }
  #sonidosCaja {
    width: 400px;
    height: 140px;
  }
  .sonidosGif {
    height: 280px;
    width: 400px;
    margin-top: 100px;
    margin-left: -90px;
  }
}
#fondoGrisFuerte {
  background-color: rgb(187, 191, 189);
  height: 1400px;
  width: 100%;
  margin-top: -100px;
}

#logoMonstruosGrande {
  width: 500px;
  height: 200px;
}

.monstruo {
  background-image: url(../img/monstruos-04.png);
  background-size: cover;
  width: 380px;
  height: 400px;
  margin-left: 0px;
}

#filaGrisOscuro {
  background-color: rgb(35, 34, 38);
  height: 500px;
}

.monstruosCaja {
  background-image: url(../img/monstruos-03.png);
  background-size: cover;
  width: 450px;
  height: 450px;
  margin-top: 40px;
  margin-left: -100px;
}

.monstruos1Imagen {
  background-image: url(../img/monstruos-02.png);
  background-size: cover;
  width: 800px;
  height: 600px;
  margin-top: 0px;
}

#textoMonstruos1 {
  margin-top: 90px;
  margin-left: -100px;
  color: white;
}

#textoMonstruos2 {
  margin-top: 90px;
  margin-left: -100px;
  color: white;
}

#filaInversa {
  background-color: rgb(255, 255, 255);
  height: 50px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  #fondoGrisFuerte {
    height: 2300px;
  }
  #filaGrisOscuro {
    height: 1000px;
  }
  #logoMonstruosGrande {
    width: 350px;
    height: 130px;
  }
  .monstruo {
    height: 200px;
    width: 180px;
  }
  .monstruosCaja {
    margin-top: -80px;
    margin-left: -40px;
    width: 380px;
    height: 380px;
  }
  #textoMonstruos1 {
    margin-top: 90px;
    margin-left: 0px;
  }
  #textoMonstruos2 {
    margin-top: -800px;
    margin-left: 0px;
  }
  .monstruos1Imagen {
    width: 380px;
    height: 350px;
    margin-top: 550px;
    margin-left: 0px;
  }
}
#fondoVerdosoDinos {
  background-color: rgb(0, 63, 78);
  height: 1900px;
  width: 100%;
  margin-top: -100px;
}

.dinosCaja {
  background-image: url(../img/dinos-04.png);
  margin-left: 50px;
  margin-top: 10px;
  height: 400px;
  width: 400px;
  background-size: cover;
}

.dinosLogo {
  background-image: url(../img/dinos-05.png);
  background-size: cover;
  width: 590px;
  height: 300px;
}

#dinosLogoChico {
  width: 450px;
  height: 220px;
}

.dinosImagen {
  background-image: url(../img/dinos-07.png);
  margin-left: -250px;
  margin-top: 0px;
  height: 450px;
  width: 500px;
  background-size: cover;
}

.textoDinos {
  margin-top: 20px;
  margin-bottom: 20px;
}

#textoAncho {
  display: flex;
  width: 800px;
  align-items: center;
}

.dinosImagen2 {
  background-image: url(../img/dinos-03.png);
  background-size: cover;
  height: 450px;
  width: 820px;
  margin-top: 150px;
  margin-bottom: 30px;
}

.textoDinos1 {
  color: white;
  margin-top: 400px;
}

#filaBlancaDB {
  margin-top: 0px;
  height: 250px;
  background-color: white;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  #fondoVerdosoDinos {
    height: 2300px;
  }
  .dinosLogo {
    width: 380px;
    height: 180px;
  }
  .dinosCaja {
    margin-left: 0px;
    height: 380px;
    width: 380px;
    background-size: cover;
  }
  .dinosImagen {
    margin-left: 0px;
    margin-top: 0px;
    height: 300px;
    width: 380px;
  }
  .dinosImagen2 {
    height: 200px;
    width: 380px;
    margin-top: 550px;
    margin-bottom: 30px;
  }
  .textoDinos1 {
    margin-top: 150px;
  }
}
#fondoAmarilloColmena {
  background-color: rgb(248, 237, 179);
  height: 1600px;
  width: 100%;
  margin-top: -100px;
}

#colmenaLogo {
  background-image: url(../img/colmena-04.png);
  background-size: cover;
  margin-top: 30px;
  width: 650px;
  height: 300px;
}

.colmenaCaja {
  background-image: url(../img/colmena-03.png);
  background-size: cover;
  margin-top: 30px;
  width: 400px;
  height: 450px;
}

#colmenaImagen1 {
  background-image: url(../img/colmena-02.png);
  background-size: cover;
  margin-top: 30px;
  width: 1200px;
  height: 350px;
}

.containerGifColmena {
  background-image: url(../img/Comp17.gif);
  background-size: cover;
  height: 450px;
  width: 600px;
  margin-top: 100px;
  margin-left: -200px;
}

#filaNegraColmena {
  background-color: black;
  height: 250px;
}

.textoColmena2 {
  margin-top: 180px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  #fondoAmarilloColmena {
    height: 2000px;
  }
  #colmenaLogo {
    width: 380px;
    height: 200px;
  }
  .colmenaCaja {
    margin-top: 15px;
  }
  #colmenaImagen1 {
    width: 380px;
    height: 140px;
    margin-left: -30px;
  }
  .containerGifColmena {
    height: 380px;
    width: 600px;
    margin-top: 750px;
    margin-left: -150px;
  }
  .textoColmena2 {
    margin-top: -1050px;
  }
  #filaNegraColmena {
    height: 450px;
  }
}
#selectLogo {
  background-image: url(../img/selectlogo-02.png);
  background-size: cover;
  margin-top: -50px;
  width: 700px;
  height: 180px;
}

#cajaSelect {
  background-image: url(../img/select-02.png);
  background-size: cover;
  margin-top: -50px;
  width: 750px;
  height: 600px;
  margin-bottom: 20px;
}

.selectGif {
  background-image: url(../img/Comp18.gif);
  background-size: cover;
  margin-top: -100px;
  width: 800px;
  height: 360px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  #selectLogo {
    margin-top: -50px;
    width: 380px;
    height: 100px;
  }
  #cajaSelect {
    margin-top: -20px;
    margin-left: -30px;
    width: 380px;
    height: 300px;
    margin-bottom: 20px;
  }
  .selectGif {
    margin-top: -30px;
    margin-left: -20px;
    width: 380px;
    height: 200px;
    margin-bottom: 20px;
  }
}
#fondoAzulAbro {
  background-color: rgb(51, 63, 87);
  height: 1400px;
  width: 100%;
  margin-top: -100px;
}

#abroLogo {
  background-image: url(../img/abro-03.png);
  background-size: cover;
  margin-left: -100px;
  width: 600px;
  height: 450px;
}

.abroCaja {
  background-image: url(../img/abro-06.png);
  background-size: cover;
  margin-left: -100px;
  width: 420px;
  height: 650px;
}

.abroImagen2 {
  background-image: url(../img/abro-04.png);
  background-size: cover;
  margin-left: -100px;
  margin-top: 380px;
  width: 550px;
  height: 250px;
}

.textoAbro2 {
  margin-top: 380px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .dropdown-toggle::after {
    height: 15px;
    width: 10px;
    align-items: center;
  }
  #fondoAzulAbro {
    height: 1950px;
  }
  #abroLogo {
    width: 380px;
    height: 230px;
    margin-left: 0px;
  }
  .abroCaja {
    margin-left: 0px;
    width: 360px;
    height: 530px;
  }
  .textoAbro2 {
    margin-top: -550px;
  }
  .abroImagen2 {
    margin-left: -30px;
    margin-top: 1010px;
    width: 380px;
    height: 150px;
  }
}/*# sourceMappingURL=estilo.css.map */